.hidden {
  display: none;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #fff;
  color: #434455;
}

/* #region reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion reset */

/* #region common */

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* #endregion */

/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-list,
.address {
  display: none;
}

.logo {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.header-logo {
  padding: 16px 0;
  display: block;
}

.header-logo .logo-part {
  color: #2e2f42;
}

.burger-btn {
  padding: 0;
  border: none;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: #2f2f37;
}

@media screen and (min-width: 768px) {
  .header-logo {
    margin-right: 120px;
    padding: 24px 0;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .nav-list {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .nav-link {
    display: block;
    padding: 24px 0;
    font-weight: 500;
    color: #2e2f42;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
    opacity: 0;
    transition: opacity 250ms ease;
  }

  .nav-link:hover::after,
  .nav-link:focus::after {
    opacity: 1;
  }

  .nav-link.current {
    position: relative;
  }

  .nav-link::after {
    opacity: 0;
  }
  .nav-link:hover::after {
    opacity: 1;
  }

  .nav-link.current::after {
    content: "";
    left: 0;
    bottom: -1px;
    position: absolute;
    background-color: #404bbf;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: opacity 250ms ease;
    opacity: 1;
  }

  .nav-link:hover,
  .nav-link:focus,
  .address-link:hover,
  .address-link:focus,
  .nav-link.current {
    color: #404bbf;
  }

  .address {
    font-style: normal;
    display: block;
  }

  .address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .burger-btn {
    display: none;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .address-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .address-link {
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}
/* #endregion */

/* #region mobile-menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu-nav {
  margin-bottom: auto;
}

.mobile-menu-nav-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.mobile-menu-nav-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.mobile-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  top: 24px;
  right: 24px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu-address {
  margin-bottom: 48px;
}

.mobile-menu-address-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.mobile-menu-address-link {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
}

.mobile-menu-nav-link:hover,
.mobile-menu-nav-link:focus {
  color: #4d5ae5;
}

.mobile-menu-address-link:hover,
.mobile-menu-address-link:focus {
  color: #4d5ae5;
}

.menu-social-list {
  display: flex;
  gap: 40px;
}

.menu-social-item {
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.menu-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50%;
}

.menu-social-icon {
  fill: #f4f4fd;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
/* #endregion */

/* #region hero */
.hero-section {
  background-image: linear-gradient(rgb(46, 47, 66, 0.7), rgb(46, 47, 66, 0.7)),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;
  max-width: 320px;
}

.hero-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  max-width: 216px;
  margin: 0 auto 72px;
}

.hero-button {
  border-radius: 4px;
  padding-block: 16px;
  padding-inline: 32px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: block;
  margin: 0 auto 48px;
  min-width: 169px;
  height: 56px;
  border: none;
  background-color: #4d5ae5;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
  outline: none;
}

@media screen and (min-width: 768px) {
  .hero-section {
    padding-top: 112px;
    padding-bottom: 112px;
    margin: 0 auto;
    max-width: 768px;
  }

  .hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero-section {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}

/* #endregion */

/* #region features */
.features-icon {
  display: none;
}
.features-section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.features-list {
  display: flex;
  gap: 72px;
  flex-wrap: wrap;
}

.features-item-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
  color: #2e2f42;
}

.features-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .features-list {
    gap: 24px;
  }
  .features-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .features-icon {
    display: flex;
  }

  .features-item {
    flex-basis: calc((100% - 72px) / 4);
  }
}

/* #endregion */
